<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Pie</div>
      <div class="card-body">
        <ngx-chartjs-pie></ngx-chartjs-pie>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Bar</div>
      <div class="card-body">
        <ngx-chartjs-bar></ngx-chartjs-bar>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Line</div>
      <div class="card-body">
        <ngx-chartjs-line></ngx-chartjs-line>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Multiple x-axis</div>
      <div class="card-body">
        <ngx-chartjs-multiple-xaxis></ngx-chartjs-multiple-xaxis>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Bar Horizontal</div>
      <div class="card-body">
        <ngx-chartjs-bar-horizontal></ngx-chartjs-bar-horizontal>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Radar</div>
      <div class="card-body">
        <ngx-chartjs-radar></ngx-chartjs-radar>
      </div>
    </div>
  </div>
</div>
