ngx-chartjs-pie,
ngx-chartjs-bar,
ngx-chartjs-line,
ngx-chartjs-multiple-xaxis,
ngx-chartjs-bar-horizontal,
ngx-chartjs-radar {
  display: block;
  height: 400px;
  width: 100%;

  canvas {
    display: block;
    height: 100% !important;
    width: 100% !important;
  }
}
