<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Pie</div>
      <div class="card-body">
        <ngx-echarts-pie></ngx-echarts-pie>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Bar</div>
      <div class="card-body">
        <ngx-echarts-bar></ngx-echarts-bar>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Line</div>
      <div class="card-body">
        <ngx-echarts-line></ngx-echarts-line>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Multiple x-axis</div>
      <div class="card-body">
        <ngx-echarts-multiple-xaxis></ngx-echarts-multiple-xaxis>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Area Stack</div>
      <div class="card-body">
        <ngx-echarts-area-stack></ngx-echarts-area-stack>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Bar Animation</div>
      <div class="card-body">
        <ngx-echarts-bar-animation></ngx-echarts-bar-animation>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Radar</div>
      <div class="card-body">
        <ngx-echarts-radar></ngx-echarts-radar>
      </div>
    </div>
  </div>
</div>
